.c-category {
    flex: 1 1 50%;

    @include min-screen($BREAK_POINT_TB) {
        flex: 1 1 25%;
    }

    &__link {
        margin: 0.5rem;
        display: block;
        color: inherit;

        @include min-screen($BREAK_POINT_TB) {
            margin: 1.0rem;
        }

        &:hover {
            opacity: 0.8;
            text-decoration: none;
            color: inherit;
        }
    }

    &__img {
        padding-bottom: 56%;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        box-shadow: 0 0 8px gray;
        border-radius: 0.6rem;
        margin-bottom: 0.5rem;

        @include min-screen($BREAK_POINT_TB) {
            margin-bottom: 1.0rem;
        }
    }
}
