.c-information {
    display: block;
    border-bottom: solid 0.1rem $MAIN_TEXT_COLOR;
    font-family: 'Montserrat', sans-serif;
    margin: 0 1.0rem;

    &__link {
        margin: 1.0rem 0;
        display: block;
        color: inherit;

        &:hover {
            opacity: 0.8;
            text-decoration: none;
            color: inherit;
        }
    }

    &__header {
        font-size: 1.0rem;
        opacity: 0.8;
        color: $MAIN_TEXT_COLOR;
        margin-bottom: 0.5rem;
    }

    &__tag {
        color: $LIGHT_TEXT_COLOR;
        background-color: $DARK_BACK_COLOR;
        padding: 0.1rem 0.5rem;
    }
}
