.p-youtubes {
    margin-bottom: 2.0rem;

    @include min-screen($BREAK_POINT_PC) {
        margin-bottom: 4.0rem;
    }

    &__container {
        @include min-screen($BREAK_POINT_PC) {
            padding-left: 1.0rem;
            padding-right: 1.0rem;
        }
    }

    &__contents {
        display: flex;
        flex-wrap: wrap;
    }

    &__title {
        margin-left: 1.0rem;
        margin-right: 1.0rem;

        @include min-screen($BREAK_POINT_PC) {
            margin-bottom: 1.5rem;
        }
    }
}
